.nav_main {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: rgb(var(--background));
  justify-items: center;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  justify-items: center;
}

/* Change the link color on hover */
li a:hover {
  background-color: transparent;
  color: white;
  border: solid #555;
  border-radius: 8%;
  width: 40%;
}
